*~
*elc
ac-comphist.dat            
auto-save-list/
bookmarks                  
elpa/
eshell/
network-security.data      
notes                      
.org-id-locations          
recentf                    
semanticdb/
smex-items
snippets/
tramp
tutorial/
url/
pyim/
workspace/
projectile-bookmarks.eld
projectile.cache