*~
*elc
ac-comphist.dat            
auto-save-list/
bookmarks                  
elpa/
eshell/
network-security.data      
notes                      
recentf                    
semanticdb/
smex-items
tramp
tutorial/
url/
pyim/
workspace/
projectile-bookmarks.eld
projectile.cache
custom.el
session*
eaf/
\.*
!.gitignore
emms/
eglot-eclipse-jdt-cache/
transient/
projects
notes.org
eln-cache/
multisession/